@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  align-items: flex-end; /* Align items to the bottom of the container */
  height: 100vh;
  background-color: #c1cfea;
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.input-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 30%;
  position: relative;
  top: 25px;
  left: 35%;
}

.current-card-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  top: 80px;
}

.weather-temp-current-day {
  font-size: 20px;
  ont-size: 20px;
  position: relative;
  top: 15px;
}

.current-weather-card {
  opacity: 90%;
  background: #eeee;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  width: 700px;
  height: 400px;
  margin: 15px;
}

.sun-icon {
  width: 170px;
  position: relative;
  bottom: 50px;
}

.info-div {
  display: flex;
  justify-content: space-evenly;
}

.temp-div {
  display: flex;
  justify-content: space-evenly;
}

.temp-icon {
  width: 40px;
}

.date-info {
  position: relative;
  left: 205px;
}

.wind-info-div {
  display: flex;
  justify-content: space-evenly;
}

.wind-icon {
  width: 40px;
}

.wind-speed {
  position: relative;
  top: 15px;
  font-size: 20px;
}

.humidity-icon {
  width: 40px;
}

.location-div {
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
}

.cards-div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}

.weather-card {
  opacity: 80%;
  background: none;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  margin: 15px;
  border-left: 1px solid black;
}

.current-day {
  font-size: 25px;
}

.current-date {
  font-size: 15px;
  color: #777;
  margin-bottom: 10px;
}

.weather-icon img {
  width: 70px;
}

.weather-temp {
  font-size: 30px;
  font-weight: light;
  margin: 10px 0;
}

.humidity-info-div {
  width: 150px;
  display: flex;
}

.weather-description {
  font-size: 20px;
  position: relative;
  top: 15px;
}
